

body{
background-color: #212222;
color: white;
}

.header {
     display:flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
}
.Logo{
     width: 50%;
     /* margin: 0 auto; */
}

h1{



}

h2{



}


h3{



}


p{
font-size: 14pt;

}



a{
color: white;
text-decoration: none;
font-size: 16pt;
padding: 18px;
}

.mainNav{
background-color: #212222;
display: flex;
justify-content: space-between;
align-items: baseline;
width: 100%;
flex-wrap: wrap;

}


.img1{
     background-image: url("image1.png");
     min-height: 300px;

}


.img2{
     background-image: url("image2.png");
     min-height: 300px;

}

.img3{
     background-image: url("image3.png");
     min-height: 300px;

}


.caption{


}

.border{


}


#about{
line-height: 25px;


}

.flex_container_menu{
display: flex;
justify-content: center;
}

.flexmenu_item{
margin: 0 4px;

}

.cfullmenu{
background-color: red;
width: 200px;
text-align: center;
padding: 1px;
margin: 0 auto 10px;

}

@media only screen and (min-width: 600px) {
.img1, .img2, .img3 {
position: relative;
background-position: center;
background-size: cover;
background-attachment: fixed;

}
